.wrapper {
  min-height: 100vh;
  padding-top: 10vh;
}
.topBar {
  max-width: 100vw;
  padding: 0 5vw;
  height: 10vh;
  display: flex;
  align-items: center;
}
.goBack {
  width: 35px;
  height: 35px;
}
.mealTypeNameClass {
  justify-content: center;
  min-width: calc(90vw - 35px);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
}
.mealTypeNameClass p {
  margin-right: 35px;
}

.wholeMealTypeKcalClass {
  color: #369aff;
  font-size: 20px;
  font-weight: bold;
}
